@import "tailwindcss";
@plugin "daisyui";

@tailwind utilities;


  
  

html,body{
    background-color: #e3e3e3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color:#000000;
}

/* Change text highlight background and text color */
::selection {
  background-color: #5077dc; /* Highlight background color */
  color: #ffffff; /* Highlighted text color */
}

.fustat-heading {
    font-family: "Fustat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .manrope-paragraph {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SpaceCrusaders';
    src: url('/fonts/space_crusaders/Space Crusaders.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .spacecrusaders-heading {
    font-family: 'SpaceCrusaders', sans-serif;
    font-weight: normal;
    font-style: normal;
  }

  .gradient {
    /* background: linear-gradient(to bottom,#2c4072,#4d6fb5); */
    background: linear-gradient(to bottom, #30538e,#5c89ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

